/*
!.gitignore

!README.md
!Makefile
!schema.yml
!Dockerfile
!kubernetes

!application
application/*
!application/.openapi-generator-ignore
!application/db
!application/package.json
!application/package-lock.json

!application/services
application/services/*
!application/services/User*
