/*
!.gitignore

!README.md
!Makefile
!schema.yml
!Dockerfile
!kubernetes

!application
application/*
!application/.openapi-generator-ignore
!application/db
!application/services
!application/package.json
!application/package-lock.json
